<div class="card" id="action-{{toLower Category.Name}}{{@index}}">
    <h3>{{Name}}</h3>
    <span>Description: {{Description}}</span><br />
    <span>Endpoint: {{Endpoint}}</span><br />
    <span>Verb: {{Verb}}</span>
    <h4>Payload</h4>
    <div class="table-wrapper">
        <table class="table--bordered table--striped table--data">
            <thead>
                <tr><th>Name</th><th>Type</th><th>Notes</th></tr>
            </thead>
            <tbody>
                {{#each Payload}}
                <tr>
                    {{> p-payload}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <h4>Response</h4><a data-type="example-response" href="#action-{{toLower Category.Name}}{{@index}}-response">Example</a>
    <div class="table-wrapper">
        <table class="table--bordered table--striped table--data">
            <thead>
                <tr><th>Name</th><th>Type</th><th>Notes</th></tr>
            </thead>
            <tbody>
                {{#each Response}}
                <tr>
                    {{> p-response}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <h4>Test it</h4>
    <button class="btn btn--gamma btn--secondary">Clear</button>
    <button class="btn btn--gamma btn--positive btn--primary" data-endpoint="{{Endpoint}}" data-verb="{{Verb}}" data-sample='{{stringifyJSON SampleCall}}'>Execute</button>
    <h5>Result</h5>
    <code></code>
    <div id="action-{{toLower Category.Name}}{{@index}}-response" class="modal">
        <section>
            <header>
                <h2>Sample Response</h2><a href="#" title="Close modal">Close</a>
            </header>
            <article>
                <code>{{prettifyJSON SampleResponse}}</code>
            </article>
        </section>
        <div class="overlay"></div>
    </div>
</div>
                